/* ------Global Config------ */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap');

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  list-style: none;
  scroll-behavior: smooth;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0 auto;
}

.container {
  width: 90%;
  margin: 0 auto;
}

/* HEADER */

.first_nav_item {
  display: none;
}

.box-logo-deskt {
  display: none;
}

.second_nav_deskt {
  display: none;
}

.mobile-nav-box {
  display: none;
}

.mobile-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.mobile-nav.active .mobile-nav-box {
  display: flex;
  flex-direction: column;
  position: fixed;
  left: 0;
  top: 0;
  background: rgba(185, 73, 21, 0.9);
  width: 100%;
  height: 100vh;
  backdrop-filter: blur(1px);
  padding: 8rem 2rem;
}

.mobile-nav.active,
.mobile-nav-box a {
  display: block;
  margin: 2rem 4rem;
  text-align: justify;
  color: #fff;
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4.4rem;
  text-decoration: none;
  transition: background 0.3s ease-in-out;
}

#hamburger {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  display: block;
  position: relative;
  z-index: 100;
  padding: 1rem;
}

/* Headline Section */

.headline {
  background: url(/assets/images/background\ mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 80vh;
}

.flex-headline {
  display: flex;
  flex-direction: column;
}

.text-block {
  margin-top: 6rem;
}

.text-block-about {
  padding-top: 8rem;
}

.text-block h2 {
  color: #ec5343;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
  line-height: 1.5;
}

.text-block h1 {
  color: transparent;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.6rem;
  font-weight: 900;
  line-height: 1;
  background-image: url(/assets/images/background-letters.jpg);
  background-size: contain;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-position: center;
}

.description_conference {
  margin: 2rem 0 0 0;
  border: 4px solid #fff;
  background-color: rgb(245, 242, 242);
  width: 90vw;
}

.font-prop p {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.3;
}

.dates {
  display: flex;
  margin: 1rem 0 1rem 0;
  flex-direction: column;
  gap: 1rem;
  padding: 0 0.5rem;
}

.dates .font-dates {
  font-weight: 900;
  font-family: 'cocogoose', 'Lato', sans-serif;
  font-size: 3.2rem;
  color: #5d5c5c;
}

.dates .place {
  font-size: 1.8rem;
  color: #7a7a7a;
  font-weight: 700;
}

/* MAIN SECTION PROGRAM */
.full-program {
  display: none;
}

.main-program {
  background-color: #272a31;
  background-image: url(/assets/images/gridbg.svg);
  background-size: 16rem;
  color: #272a31;
  padding: 2.4rem 0;
  padding-bottom: 3rem;
}

.main-title {
  font-size: 2.2rem;
  font-weight: 400;
  color: #f1eaea;
  font-family: 'cocogoose', 'Lato', sans-serif;
  text-align: center;
  margin: 0 auto 2.5rem auto;
}

.border {
  border-bottom: 3px solid #ec5343;
  width: 12%;
  margin: 1rem auto;
}

.card-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(139, 134, 134, 0.2);
  padding: 2rem 0.5rem;
  margin: 1rem;
  width: 95%;
  gap: 1rem;
  box-shadow: 10px 10px 10px rgba(204, 20, 20, 0.2);
  transition: transform 0.3s ease-in-out;
}

.card-main:hover {
  transform: scale(1.1);
}

.box-1 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 50%;
}

.box-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 50%;
  font-family: 'cocogoose', 'Lato', sans-serif;
  color: rgb(245, 242, 242);
}

h4 {
  font-size: 1.6rem;
  font-weight: 900;
  color: #ec5343;
  font-family: 'cocogoose', 'Lato', sans-serif;
}

.btn {
  background-color: #ec5343;
  color: #fff;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  font-weight: 900;
  font-family: 'cocogoose', 'Lato', sans-serif;
  cursor: pointer;
  border: none;
  margin: 0 auto;
  width: 80%;
  height: 12vh;
}

.button-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: 3rem;
}

/* SPEAKERS SECTION */

.speakers h3 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #060606;
  font-family: 'cocogoose', 'Lato', sans-serif;
  text-align: center;
  margin: 1rem auto 1rem auto;
}

.card-speaker {
  display: flex;
  background-color: rgba(211, 211, 211, 0.2);
  padding: 2rem 0.5rem;
  margin: 1rem;
  width: 95%;
}

.profile-description {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%;
  font-family: 'cocogoose', 'Lato', sans-serif;
  color: rgb(21, 20, 20);
  margin-left: 3rem;
}

.profile-picture {
  width: 13rem;
  height: 15rem;
  position: relative;
  flex-shrink: 0;
}

.back-chess {
  width: 90%;
}

.image-profile {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 1.5rem;
  top: 1.5rem;
}

.profile-description h4 {
  font-size: 1.6rem;
  font-weight: 900;
  color: #070707;
  font-family: 'cocogoose', 'Lato', sans-serif;
  padding-top: 1rem;
}

.profile-description .position {
  font-size: 1.6rem;
  font-weight: 400;
  color: #ec5343;
  font-family: 'cocogoose', 'Lato', sans-serif;
  padding: 1rem 0;
}

.line {
  border-bottom: 3px solid #7a7979;
  width: 10vw;
  margin-bottom: 1.5rem;
}

.profile-description .position-description {
  font-size: 1.2rem;
  font-weight: 900;
  color: #070707;
  font-family: 'cocogoose', 'Lato', sans-serif;
}

.btn-main {
  border: 1px solid #ec5343;
  color: #030303;
  font-size: 1.6rem;
  font-weight: 900;
  font-family: 'cocogoose', 'Lato', sans-serif;
  cursor: pointer;
  margin: 0 auto;
  width: 80%;
  box-shadow: 0 0 0.5rem 0.1rem #ec5343;
  padding: 2rem 0;
}

.partners h3 {
  font-size: 2.2rem;
  font-weight: 400;
  color: #fefcfc;
  font-family: 'cocogoose', 'Lato', sans-serif;
  text-align: center;
  margin: 1rem auto 1rem auto;
}

.partners {
  background-color: #272a31;
  padding-top: 2.4rem;
  padding-bottom: 2.4rem;
  text-align: center;
  margin-top: 3rem;
}

.box-partner-A {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.box-partner-A img {
  width: 10rem;
  height: 10rem;
}

.box-partner-B img {
  width: 10rem;
  height: 10rem;
}

.footer-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #fff;
}

.footer-container-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: #292626;
}

.footer-info-box {
  display: flex;
  flex-direction: column;
  color: white;
}

.footer-info-box-about {
  display: flex;
  flex-direction: column;
  color: white;
}

.footer-info-box p {
  font-size: 1.2rem;
  color: #070707;
}

.logo-footer {
  width: 20rem;
  height: 20rem;
}

.footer-info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: -3rem;
  color: rgb(7, 7, 7);
}

.footer-info-about {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin-top: -3rem;
  color: rgb(7, 7, 7);
}

/* SECTION ABOUT HEADLINE */
.container-about {
  display: flex;
  flex-direction: column;
}

.headline_about {
  background: url(/assets/images/background\ mobile.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 50vh;
}

.text-block-about h2 {
  color: #ec5343;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  padding-top: 1rem;
}

.text-block-about h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 3.8rem;
  font-weight: 900;
  line-height: 1;
  color: #ec5343;
  text-align: center;
}

.description_conference-about {
  margin: 2rem;
  text-align: center;
  padding: 1rem 0;
}

.font-prop-about p {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5;
}

.contact-info {
  background-color: #f8f5f5;
  padding: 3rem 2rem;
  line-height: 1.5;
}

.contact-info .font-dates {
  font-weight: 900;
  font-family: 'cocogoose', 'Lato', sans-serif;
  font-size: 1.2rem;
  color: #7e7e7e;
  text-align: center;
  margin: 0 2rem;
}

.contact-info .place {
  font-size: 1.4rem;
  color: #434242;
  font-weight: 900;
  text-align: center;
  text-decoration: underline;
}

/* SECTION LOGO ABOUT */

.container-logo-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 2rem 0.5rem;
}

.container-logo-about h3 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #070707;
  font-family: 'cocogoose', 'Lato', sans-serif;
  text-align: center;
  margin-top: 14rem;
}

.container-logo-about p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #7e7e7e;
  font-family: 'cocogoose', 'Lato', sans-serif;
  text-align: center;
  margin: 2rem 2rem;
  line-height: 1.3;
}

.border-about {
  border-bottom: 1px solid #7a7979;
  width: 98vw;
}

.logo-about img {
  width: 20rem;
  height: 20rem;
}

/* SECTION PAST EDITIONS */

.summits-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.summits-container h3 {
  font-size: 2.2rem;
  font-weight: 700;
  color: #070707;
  font-family: 'cocogoose', 'Lato', sans-serif;
  text-align: center;
  margin: 1rem;
}

.summits-container p {
  font-size: 1.6rem;
  font-weight: 500;
  color: #7e7e7e;
  font-family: 'cocogoose', 'Lato', sans-serif;
  text-align: center;
  margin: 2rem auto;
  line-height: 1.3;
}

.summit-images {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1rem;
}

.summit-box {
  width: 85%;
  margin: auto;
  padding: 4.8rem;
}

.summit-box p {
  font-size: 1.6rem;
  font-weight: 900;
  color: #fbf8f8;
  font-family: 'cocogoose', 'Lato', sans-serif;
  text-align: center;
  margin: 2rem 2rem;
  line-height: 1.3;
}

.summit-image-1 {
  background: linear-gradient(rgba(236, 54, 34, 0.4), rgba(175, 39, 24, 0.4)), url(/assets/images/conference.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30vh;
}

.summit-image-2 {
  background: linear-gradient(rgba(236, 54, 34, 0.4), rgba(175, 39, 24, 0.4)), url(/assets/images/pexels-icsa-1708988.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 30vh;
}

/* media queries DESKTOP VERSION */
@media screen and (min-width: 768px) {
  /* HEADER DESKTOP */

  .hamburger {
    display: none;
  }

  .firstnav_container_deskt {
    background-color: #272a31;
    padding: 1rem;
  }

  .first_nav_item {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0 1rem;
    color: white;
    gap: 2rem;
    font-size: 1.2rem;
    margin-right: 9rem;
  }

  .first_nav_item li a {
    text-decoration: none;
    color: #fff;
    font-size: 1.5rem;
  }

  .second-nav_container_deskt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #fff;
    height: 10rem;
  }

  .box-logo-deskt,
  .logo-devops {
    width: 30rem;
    height: 30rem;
    display: block;
    margin: -3.5rem 0 0 1rem;
  }

  .second_nav_deskt {
    display: flex;
    align-items: center;
    list-style: none;
    padding: 0 1rem;
    color: rgb(5, 5, 5);
    gap: 2rem;
    font-size: 1.2rem;
    margin-right: 10rem;
  }

  .second_nav_deskt li a {
    text-decoration: none;
    color: #070707;
    font-size: 1.8rem;
  }

  .second_nav_deskt li a:hover {
    color: #e83b2b;
  }

  .second_nav_deskt li:last-child {
    border: 3px solid #e83b2b;
    padding: 1rem 0;
    box-shadow: 0 0 10px #e83b2b;
  }

  .second_nav_deskt li:last-child:hover {
    background-color: #e83b2b;
    color: #fff;
  }

  .second_nav_deskt li:last-child a {
    color: #080808;
  }

  /* SECTION HEADLINE */

  .headline {
    background: url(/assets/images/background\ Desktop.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 90vh;
  }

  .headline_about {
    background: url(/assets/images/background-desktop-about.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 95vh;
  }

  .text-block {
    margin-top: 7rem;
  }

  #headline_about {
    display: flex;
    flex-direction: column;
  }

  .text-block-about {
    padding-top: 8rem;
  }

  .text-block h2 {
    color: #ec5343;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.8rem;
    font-weight: 500;
    line-height: 1.5;
  }

  .text-block h1 {
    font-size: 5rem;
    font-weight: 900;
  }

  .container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .description_conference-about {
    background-color: #fff;
    width: 50%;
    margin-top: 5rem;
  }

  .font-prop-about p {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.5;
  }

  .description_conference {
    margin-top: 2rem;
    width: 60vw;
    padding: 2rem;
  }

  .dates {
    margin: 2rem 0 0 0;
  }

  .contact-info .font-dates {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
  }

  .contact-info p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 1.5;
  }

  .container-logo-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -8rem;
  }

  .container-logo-about p {
    font-size: 1.8rem;
    font-weight: 500;
    color: #3c3c3c;
    font-family: 'cocogoose', 'Lato', sans-serif;
    text-align: center;
    margin: 2rem 2rem 0 2rem;
    line-height: 1.3;
    width: 50%;
  }

  .logo-about img {
    width: 40rem;
    height: 40rem;
  }

  /* MAIN PROGRAM SECTION DESKTOP */

  .container-main-program {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem 2rem 0 2rem;
    padding: 0 8rem;
  }

  .card-main {
    display: flex;
    flex-direction: column;
    width: 15vw;
  }

  .box-1 {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-items: center;
    text-align: center;
  }

  .box-2 {
    text-align: justify;
    font-size: 1.3rem;
    width: 15vw;
    padding: 1rem;
  }

  .button-box {
    display: none;
  }

  .full-program {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem 0 0 0;
    padding: 2rem 8rem;
  }

  .full-program .full-a {
    color: #fbf8f8;
    font-size: 1.8rem;
    font-weight: 400;
    text-decoration: underline;
  }

  /* SECTON SPEAKERS DESKTOP */
  .col {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }

  .box-partner-A img {
    width: 20vw;
    height: 20vh;
  }

  .box-partner-B img {
    width: 15vw;
    height: 15vh;
  }

  /* SECTION FOOTER DESKTOP */

  .logo-footer {
    width: 30rem;
    height: 20rem;
  }

  .footer-info-box h4 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #ec5343;
  }

  .footer-info-box p {
    font-size: 1.6rem;
    font-weight: 400;
  }

  .footer-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }

  .footer-container-about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #292626;
  }

  .footer-info-box {
    color: rgb(12, 12, 12);
  }

  .footer-info-box-about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    margin-top: -2rem;
  }

  .footer-info-box-about h4 {
    font-size: 2.2rem;
    font-weight: 700;
    color: #ec5343;
  }

  .footer-info-box-about p {
    font-size: 1.6rem;
    font-weight: 400;
    color: white;
  }

  .summit-images {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 4rem;
  }

  .mobile-nav-box {
    display: none;
  }
}
